* {
    height: auto;
}
body{
    background-image: url("../images/darkness.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blue-crystal{
    width: 100px;
    height: 100px;
}

.border-style {
    border-color: #616163 !important;
    border-width: 2px !important;
}

#green-crystal{
    width: 100px;
    height: 100px;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
    color: #333232;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 23px;
    color: #333232;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #EFF7F6;

}
h4{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    color: #333232;
}

.jumbotron {
    background-color: #77BA99;
}

#losses-text{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    color: #EFF7F6;
}

#orange-crystal{
    width: 100px;
    height: 100px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #EFF7F6;
}

#red-crystal{
    width: 100px;
    height: 100px;
}

#wins-text{
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    color: #EFF7F6;
}