* {
    font-family: 'Montserrat';
    color: white;
}

#blue-crystal{
    width: 100px;
    height: 100px;
    padding-left: 15px;
}

body {
    background-image: url("assets/images/asteroids.jpg");
    margin: 0px;
}


#green-crystal{
    width: 100px;
    height: 100px;
    padding-left: 15px;
}

h1{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

h2{
    font-size: 60px;
    text-align: center;
}

h3 {
    font-size: 25px;
}

p{
    font-family: 'Montserrat';
    font-size: 12px;
    text-align: center;
}

.jumbotron {
    background-color: #77BA99;
}

#orange-crystal{
    width: 100px;
    height: 100px;
}

#red-crystal{
    width: 100px;
    height: 100px;
    padding-left: 15px;
}

.target{
background-color: #493843;
}

.your-score{
    background-color: #D33F49;
}


